.Plan {
    padding-block: 3.5em;
    margin-left: 4.5em;
    margin-right: 4.2em;
}

.cards {
    display: flex;
    margin-top: 2.3em;
    align-items: center;
    column-gap: 10px;
}

.card {
    padding: 1em;
    cursor: pointer;
    width: 150px;
    border-radius: 20px;
    border: 2px solid rgba(211, 211, 211, 0.457);
}

.card>* {
    padding: 0;
    margin: 0;
}

.price {
    display: flex;
    align-items: center;
    column-gap: .2em;
}

.card h4 {
    color: hsl(213, 96%, 18%);
    font-weight: 700;
    text-transform: capitalize;
}

.card p {
    font-weight: 800;
    color: lightgrey;
}

.effetCard {
    border-color: hsl(228, 100%, 84%);
    background-color: rgba(211, 211, 211, 0.276);
}

.info h4 {
    margin-bottom: 0;
    margin-top: 40px;
}

.info p {
    margin-top: 0;
}


.switch {
    background: hsla(228, 100%, 84%, 0.42);
    margin-top: 2em;
    padding-inline: 1.4em;
    padding-inline: 4em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.switch p {
    color: white;
    font-weight: 600;
    text-transform: capitalize;
}

.switchBtn {
    position: relative;
    background-color: hsl(213, 96%, 18%);
    border-radius: 50px;
    width: 55px;
    height: 25px;
    cursor: pointer;
}

.circle {
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    width: 25px;
    height: 25px;
}

.switchContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.active {
    color: hsl(213, 96%, 18%) !important;
}

.yearly {
    transform: translateX(30px);
    transition: all 200ms ease-in-out;
}

.monthly {
    left: 0 !important;
    transition: all 200ms ease-in-out;
}
