.Info {
    padding-block: 3.5em;
    margin-inline: 4.5em;
}


.top {
    display: flex;
    flex-direction: column;
    line-height: .3;

    h1 {
        color: hsl(213, 96%, 18%);
    }
}

.top p {
    color: lightgray;
}

.input {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
}

.inputItem {
    width: 100%;
    display: flex;
    flex-direction: column;
    line-height: .5;
}

.inputItem:not(:first-of-type) {
    margin-top: 1.5em;
}

.inputValue {
    color: hsl(213, 96%, 18%);
    font-weight: 600;
    display: flex;
    align-items: center;
    column-gap: .4em;
}

input {
    border-radius: 10px;
    border: 1px solid lightgray;
    padding: .8em 1em;
}

.btn {
    margin-top: 4.5em;
    align-items: right;
    justify-content: right;
    text-align: right;
}

.btn button {
    border-radius: 10px;
    padding: .8em 1.1em;
    background-color: hsl(213, 96%, 18%);
    color: white;
    text-transform: capitalize;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

.btn button:active {
    background-color: hsl(213, 100%, 23%);
}
